body{
    margin-left: 0;
    margin-right: 0;
    padding:0
}
html {
    width: 100%;
    min-height: 100%;
    padding:0

}

header{
    margin:0
}
*{
    box-sizing: border-box;
}
.intro2{
    width: 100%;
    background-color: rgb(255, 187, 0);
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    top: 0;
    align-items: center;
    padding: 15rem;
    margin-bottom:0; 
}
.intro{
    /* width: 100%;
    background-color: rgb(255, 187, 0);
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    top: 0;
    align-items: center;
    padding: 15rem;
    margin-bottom:0; */
    position: relative;
}

.intro img{
    filter:brightness(40%);

}

.top-left {
    position: absolute;
    top: 30%;
    left: 15%;
    color:white;
  

    /* padding: 3em;
    border-radius: 5px;
    background-color: rgba(54,56,63,0.4); */
}
.top-left p{
    color:white;

}
.content_box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.content_box2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_box3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;

}
.content{
    position: relative;
    width: 100%;
    max-width: 800px;
    padding-left:3rem;
    padding-right:3rem;
}
p{
    color:grey;
}
h2{
    margin-top:2em;
}

footer{
    margin-top: 5em;
}


.section-3 .text-wrapper span {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
}

.section-3 .text-wrapper span.visible {
    opacity: 1;
}
					
.section-3 .text-wrapper {
    max-width: 600px;
    margin: auto;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 4%;
}

.content_img{
    margin-top: 1em;
    
}


/* .pA_content{
    position: relative;
  
    
} */
/* .project_content {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 50%;
  } */

@media screen and (max-width: 651px) {

.intro2{
    width: 100%;
    background-color: rgb(255, 187, 0);
    margin-bottom: 5px;
    height: 100%;
    position: relative;
    top: 0;
    align-items: center;
    padding: 8rem;
    margin-bottom:0;
}

.intro h1{
    font-size: 30px;
    padding:0rem;
}

/* .content{
    position: relative;
    width:80%;
    padding-left:8rem
} */
}
@media screen and (max-width: 772px) {
    .content{
        position: relative;
        width: 100%;
        max-width: 700px;
        padding-right:3rem;
        padding-left:3rem;
    }
}
@media screen and (max-width: 375px) {
    .intro2{
        width: 100%;
        background-color: rgb(255, 187, 0);
        margin-bottom: 5px;
        height: 100%;
        position: relative;
        top: 0;
        align-items: center;
        padding: 5rem;
        margin-bottom:0;
    }

    .content{
        position: relative;
        width: 100%;
        max-width: 370px;
        padding-left:12px;
        padding-right:12px;

    }
}

@media screen and (max-width: 584px) {
    .content_box2{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap:wrap;

    }
    .profile_img{
        padding-left:2rem;
    }
}

.content_scroll {
    opacity: 0;
    transform: translate(0, 300px); 
    transition: all 0.4s;
}
    
.content_scroll.visible {
    opacity: 1;
    transform: translate(0, 0); 
}

.content_scroll2{
    opacity: 0;
    transform: translate(0, 150px); 

    transition: all 0.4s;
}

.content_scroll2.visible2{
    opacity: 1;
    transform: translate(0, 0); 
}

.content_box, .content_box2, .content_box3{
    margin-bottom:2rem;
}

.active_menu{
color:rgb(255, 187, 0);
}

h2{
    margin-bottom:1em;
}

.intro2 p{
    color: white;
}

.section_box{
    margin-top:10em;
}